PORT=5000
MONGODB_URI=mongodb+srv://rakesholipalli36_db_user:6VMHueq6Pinucd3D@cluster0.gvijk34.mongodb.net/week11?appName=Cluster0
FRONTEND_URL=http://localhost:5000
CLOUDINARY_CLOUD_NAME=urpdzlxr
CLOUDINARY_API_KEY=776271278661361
CLOUDINARY_API_SECRET=k5LPgaOYIAl1-vY1s84OEe0qh3A